.site-foot,
.typlog-foot {
  padding-left: max(env(safe-area-inset-right), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  border-top: 1px solid var(--gray-a3);
  background-color: white;
}

.site-foot_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--system-sans), sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--text-color);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.site-foot_links a {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0 4px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: var(--gray-11);
}

.site-foot_links a:hover {
  color: var(--accent-9);
  border-color: var(--accent-9);
}

.site-foot_links a + a {
  margin-left: 20px;
}

.site-foot_logo {
  display: inline-block;
  margin-right: 4px;
}

.site-foot_logo img {
  height: 32px;
  vertical-align: middle;
}

.site-foot_logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-12);
  vertical-align: middle;
}

.typlog-foot_content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--gray-10);
  font-size: 0.875rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.typlog-foot_content a {
  text-decoration: none;
  color: inherit;
}


.typlog-foot_content a:hover {
  text-decoration: underline;
}

@media (max-width: 680px) {
  .site-foot_content {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .site-foot_links a {
    padding: 0 0 2px 0;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
  }
}
