@import "./components/nav-links.css";
@import "./components/docsearch.css";

.site-head {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.site-head_brand {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.site-head_brand img {
  height: 36px;
}
