.site-links {
  text-align: center;
}

.site-links ul {
  display: inline-flex;
  gap: 1rem;
}

.site-links iconify-icon {
  font-size: 1.5rem;
}

.site-links a[aria-label="Apple Podcast"]:hover {
  color: #9933CC;
}

.site-links a[aria-label="Spotify"]:hover {
  color: #1DB954;
}

.site-links a[aria-label="Castro"]:hover {
  color: #00B265;
}

.site-links a[aria-label="Pocket Casts"]:hover {
  color: #F43E37;
}

.site-links a[aria-label="小宇宙"]:hover {
  color: #23b5e1;
}
