{% if site.word_logo_light %}
  <img src="{{ site.word_logo_light|thumbnail('s') }}" height="36" loading="lazy" alt="{{ site.name }}"/>
{% elif site.glyph_logo_light %}
  <img src="{{ site.glyph_logo_light|thumbnail('ss') }}" width="36" height="36" loading="lazy" alt="{{ site.name }}"/>
  <strong>{{ site.name }}</strong>
{% else %}
  <strong>{{ site.name }}</strong>
{% endif %}
