
.item {
  display: flex;
  justify-content: space-between;
  max-width: 864px;
  margin: 0 auto 20px;
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.item.featured {
  max-width: 980px;
}

.item_image {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  width: 192px;
  height: fit-content;
}

.item_image img {
  width: 100%;
  border-radius: 4px;
}

.featured .item_image {
  width: 240px;
}

.item_wrap {
  overflow: hidden;
}

.item_meta {
  font: 500 12px/1.5 "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.item_label {
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.featured .item_label {
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--accent-10);
  color: var(--accent-contrast);
}

.item_label > span + span:before {
  content: " | ";
}

.item_info h2 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.685rem;
}

.item_info h3 {
  margin: 6px 0 0;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

.item_info a {
  color: inherit;
  text-decoration: none;
}

.item_info a:hover {
  text-decoration: underline;
}

.item_summary {
  line-height: 1.7;
  margin-top: 24px;
}

@media (max-width: 960px) {
  .item {
    border-radius: 0;
  }
  .item_image {
    display: none;
  }
}
