.item {
  display: flex;
  justify-content: space-between;
  max-width: 864px;
  margin: 0 auto 20px;
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.item.h-entry {
  max-width: 980px;
}

.item_image {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  width: 192px;
  height: fit-content;
}

.item_image img {
  width: 100%;
  border-radius: 4px;
}

.h-entry .item_image {
  width: 240px;
}

.item_info h2 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.685rem;
}

.item_info h3 {
  margin: 6px 0 0;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

.item_info a {
  color: inherit;
  text-decoration: none;
}

.item_info a:hover {
  text-decoration: underline;
}

.item_summary {
  line-height: 1.7;
  margin-top: 24px;
}

@media (max-width: 960px) {
  .item {
    border-radius: 0;
  }
  .item_image {
    display: none;
  }
}
