.navigation {
  text-align: center;
  margin: 1.5rem 0;
}

.navigation-links {
  display: inline-flex;
  gap: 2rem;
}

.navigation svg {
  width: 1em;
  height: 1em;
}

.navigation a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font: 600 14px/1.5 "IBM Plex Sans", sans-serif;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--accent-contrast);
  background-color: var(--accent-10);
  text-decoration: none;
}

.navigation a:hover {
  background-color: var(--accent-11);
}
