<div class="site-foot">
  <div class="site-foot_content">
    <div class="site-foot_logo">
      {% if site.glyph_logo_light %}
      <img src="{{ site.glyph_logo_light|thumbnail('ss') }}" width="32" height="32" loading="lazy" alt="{{ site.name }}"/>
      {% endif %}
    </div>
    <div class="site-foot_links">
      <a href="/archive/">{{ translate('archive') }}</a>
      {% for column in query.all_columns() %}
        <a href="{{ column.url }}">{{ column.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="typlog-foot">
  <div class="typlog-foot_content">Powered by <a href="https://typlog.com/">Typlog</a>. Theme designed by <a href="https://www.linkedin.com/in/fanzhangux/">Fan Zhang</a>.</div>
</div>
