{% if theme_banner_image %}
<div class="site-banner">
  <img src="{{ theme_banner_image.src }}" width="{{ theme_banner_image.width }}" height="{{ theme_banner_image.height }}" loading="lazy" alt="Banner image" />
</div>
{% endif %}
