@import "tailwindcss";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--base-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
