@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-alpha.css';

:root {
  --text-color: var(--gray-12);
  --heading-color: #000;
  --base-font: roboto, var(--system-sans), var(--system-cjk), sans-serif;
  --heading-font: nunito-sans, var(--system-sans), var(--system-cjk), sans-serif;
  --content-font: merriweather, var(--system-serif), var(--system-cjk), serif;
}
