@import "./css/layout/site-banner.css";
@import "./css/layout/site-links.css";
@import "./css/partials/entry-meta.css";
@import "./css/partials/entry-item.css";
@import "./css/partials/navigation.css";

.entry-list {
  min-height: calc(100vh - 180px);
}

.list-head {
  padding-top: 4rem;
  max-width: 864px;
  margin: 0 auto 24px;
}

.list-head h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}
