.searchbox .DocSearch-Button-Keys,
.searchbox .DocSearch-Button-Placeholder {
  display: none;
}

.searchbox .DocSearch-Button {
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
}
