.nav-link > button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  color: var(--gray-a11);
}

.nav-link > button > svg {
  color: var(--gray-a9);
}

.nav-link > a > svg {
  font-size: 68%;
  opacity: 0.6;
  color: var(--gray-a9);
}

.nav-link > a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  color: var(--gray-a11);
}

.nav-link > button:hover,
.nav-link > a:hover {
  color: var(--gray-12);
  cursor: pointer;
}

button[aria-controls="nav-links"] {
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

@media (width < 48rem) {
  #nav-links[aria-hidden="false"] {
    position: absolute;
    top: 65px;
    right: 1.5rem;
    display: flex;
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    z-index: 9;
    box-shadow: 0 0 0 1px var(--gray-a3),
      0 2px 3px -2px var(--gray-a3),
      0 3px 12px -4px rgba(0, 0, 0, 0.1),
      0 4px 16px -8px rgba(0, 0, 0, 0.1);
  }
}
